@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

body {

    height: 100vh;
    background-color: #0180AB;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    scroll-behavior: smooth;
}

.card {
    width: 350px;

    border: 2px solid blue;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    border: 2px solid whitesmoke;

    background-color: #15719f;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.search-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.input-field {
    border: none;
    margin: none;
    width: 250px;
    height: 45px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    border: none;


}

input:focus {
    outline: rgb(44, 44, 108);
}

.search-bar {
    width: 60px;
    margin-top: 40px;
    background-color: white;
    height: 45px;
    padding: 1px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: #2d73ff;
    color: white;

}

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 60px;
    margin: 17px;
    padding: 10px;
}

.main-img {
    width: 45%;

    margin: 0 auto;

}

.main h2 {
    font-size: 40px;
    font-weight: 600;
    color: whitesmoke;

}

.main h3 {
    font-size: 30px;
    font-weight: 500;
    color: whitesmoke;
}

.bottom {
    margin: 5px;
    margin-top: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.humidity {
    display: flex;
    justify-content: space-between;

}

.bottom p {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin: auto 0;
    padding-left: 10px;

}

.wind {
    display: flex;
    justify-content: space-between;

}



.heading {
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 14px;
    padding-bottom: 30px;
}

.footer p {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}




#invalid {
    font-size: 15px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: none;

}

#getloc {
    width: 300px;
    height: 40px;
    margin: 10px 20px;
    padding: 10px;
    background-color: #2d73ff;
    border: none;
    color: antiquewhite;
    border-radius: 17px;
    cursor: pointer;
}

.location {
    display: none;
}



#maincontent {


    visibility: visible;
    display: none;
    animation: slideInOut 2s ease-in-out;
}

#maincontent.visible {
    opacity: 1;
    visibility: visible;
    display: block;
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(-200px);
    }

    50% {
        opacity: 0.5;
        visibility: visible;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}